#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0rem;
  /* text-align: center; */
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e1e1e1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.bg-purple{
  background: linear-gradient(310deg, purple, indigo) !important;
  color: #ffffff !important;
}
.bg-purple-light{
  background: linear-gradient(310deg, #80008033, #4b008233) !important;
}
.text-purple{
  color: indigo !important;
}
.btn-purple{
  background: linear-gradient(310deg, purple, indigo) !important;
  border-color: indigo !important;
  color: #fff !important;
}
.btn-purple:hover{
  background: linear-gradient(270deg, purple, indigo) !important;
  border-color: #7852b6 !important;
  color: #fff !important;
}
.btn-outline-purple{
  border-color: indigo !important;
  color: indigo !important;
}
.btn-outline-purple:hover{
  border-color: #6938b7 !important;
  color: #6938b7 !important;
}
.border-purple{
  border-color: indigo !important;
}

/* bootstrap class changes */
.small{
  font-size: 0.9rem !important;
}
.fs-5px{
  font-size: 5px !important;
}
.fs-8px{
  font-size: 8px !important;
}
.fs-10px{
  font-size: 10px !important;
}
.form-control:focus{
  border-color: indigo !important;
  box-shadow: 0 0 0 0.25rem rgba(129, 96, 183, 0.25) !important;
}
.form-control:valid,
.form-control:not(:placeholder-shown) {
  border-color: indigo !important;
}
.form-control:invalid:not(:placeholder-shown) {
  border-color: #dc3545 !important;
}
.accordion-button:not(.collapsed) {
  color: #6b92cb;
  background: linear-gradient(310deg, #80008033, #4b008233) !important;
  box-shadow: 0 0 3px 1px indigo !important;
}
.accordion-button:focus {
  box-shadow: 0 0 2px 1px purple !important;
}